.detailshero__container {
  display: flex;
  flex-flow: column;
  width: 100%;
  margin-top: -100px;
  padding: 100px 200px;
  height: 800px;
}
.detailshero__title {
  margin-top: 10%;
  color: whitesmoke;
  font-size: 60px;
  font-weight: 100;
  text-align: left;
  margin-bottom: 10px;
}
.detailshero__desc {
  color: whitesmoke;
  font-size: 20px;
  font-weight: 100;
  text-align: left;
}
@media screen and (max-width: 960px) {
  .detailshero__container {
    display: flex;
    flex-flow: column;
    width: 100%;
    margin-top: -100px;
    padding: 100px 40px;
    height: 400px;
  }
  .detailshero__title {
    margin-top: 10%;
    color: whitesmoke;
    font-size: 20px;
    font-weight: 100;
    text-align: left;
    margin-bottom: 10px;
  }
  .detailshero__desc {
    color: whitesmoke;
    font-size: 12px;
    font-weight: 100;
    text-align: left;
  }
}
