.iletisimpage {
  margin-top: -100px;
  background-color: #495057;
  padding: 220px 200px;
  height: 110vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.iletisimpage-yazilar {
  display: flex;
  flex-direction: column;
}
.titleiletisim {
  color: #427aa1;
  font-weight: 200;
  font-size: 50px;
  margin-bottom: 55px;
}
.iletisimpage-desc {
  font-weight: 100;

  font-size: 20px;
  color: #6b9080;
}
.iletisimitem {
  margin-bottom: 25px;
  font-weight: 100;
  font-size: 20px;
}
.iletisimharita {
  width: 600px;
  height: 450px;
  border: 0;
}
@media screen and (max-width: 768px) {
  .iletisimpage {
    margin-top: -80px;
    background-color: #495057;
    padding: 100px 30px;
    height: 90vh;
    display: flex;
    flex-direction: column;
  }
  .iletisimharita {
    width: 300px;
    height: 200px;
    border: 0;
  }
  .iletisimpage-yazilar {
    display: flex;
    flex-direction: column;
  }
  .titleiletisim {
    color: #427aa1;
    font-weight: 200;
    font-size: 30px;
    margin-bottom: 15px;
  }
  .iletisimpage-desc {
    font-weight: 100;
    font-size: 13px;
    color: #6b9080;
  }
  .iletisimitem {
    font-weight: 100;
    font-size: 20px;
  }
}
